################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMCS1
/CMCS1/.vs
/CMCS1/bin/Debug/net8.0
/CMCS1/obj
/CMCS1.Test/obj
